.categoryBadge {
  font-size: 10px;
  background-color: tomato;
  border-radius: 5;
  width: fit-content;
  font-weight: bold;
  color: white;
  text-align: center;
}
.priceBadge {
  font-size: 14px;
  background-color: #dedede;
  border-radius: 5;
  width: fit-content;
  font-weight: bold;
  color: orangered;
  text-align: center;
}
.titleText {
  font-size: 16px;
  font-weight: bold;
  color: teal;
  padding: 0%;
  margin: 5px;
}
.itemText {
  font-size: 14px;
  font-weight: bold;
  padding: 0%;
  margin: 5px;
}
